*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#title{
    font-size: 45px;
    text-align: center;
    height: 15vh;
    font-size: 10vh;
}

.container{
    text-align: center;
}

.container .cards{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
}

.container .cards .links{
    color: #000000;
    text-decoration: none;
    font-size: 30px;
}

.container .cards img {
    margin: 15px;
    width: 370px;
    height: 270px;
    border-radius: 50%;
}
